name: CI

on:
  workflow_dispatch:
  schedule:
    # Once every six hours
    - cron: "0 */6 * * *"

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
            node-version: 24
      - run: npm ci
      - env:
          DC_API_KEY: ${{ secrets.DC_API_KEY }}
        run: node index.mjs
      - run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add data.json data.csv
          git commit -m "Update data" || true
          git push
